.about-header{
    color: rgba(51, 51, 51, 0.767);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 10vh;
    text-shadow: 12px 12px 12px rgba(36, 36, 36, 0.781);
}

#about-page img{
    z-index: -1;
    position: absolute;
    right: 0px;
    bottom: 55px;
}

#about-page p {
    margin: 30px 360px;
}